body{
  justify-content: center;
  align-items: center;

  background: #43cea2;
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d);
  background: linear-gradient(to right, #43cea2, #185a9d);

  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
